[Unit]
Description=Telegram Bot
After=network-online.target

[Service]
WorkingDirectory=/home/runner/app/tg_bot
ExecStart=/home/runner/app/tg_bot/.venv/bin/python main.py

Restart=always
RestartSec=5

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tg_bot

[Install]
WantedBy=default.target
